<div class="arrange">

<h2><%=@user.username %>'s bucket list: </h2>
<hr />

<ol>
<% @user.goals.each do |goal| %>
    <li><%= goal.body %> 
      <% if logged_in? and (current_user == goal.creator) %> 
        <span>
        <% if goal.total_cheers != 0 %>
          ........<%= goal.total_cheers %> cheers from
            <% goal.cheers.each do |cheer| %>
            <%= link_to cheer.creator.username, user_path(cheer.creator.username) %>
            <% end %>
          <% end %>
        </span>
        <%= link_to goal_path(goal), method: 'delete' do %>
        <span class='glyphicon glyphicon-remove'></span>
        <% end %>
      <% else %>
        <span id='goal_<%=goal.id%>_cheers'> ........<%= goal.total_cheers %> cheers from
          <% goal.cheers.each do |cheer| %>
          <%= link_to cheer.creator.username, user_path(cheer.creator.username) %>
          <% end %> 
        </span>
        <%= link_to cheer_goal_path(goal, cheer: true), remote: true, method: 'post' do %>
        <span class='glyphicon glyphicon-thumbs-up'></span>
        <% end%>
      <% end %>
    </li>
<% end %>
</ol>
</div>